.table-grid{
    min-width: 730px;
    max-width: 60%;
    max-height: 241px;
    font-family: 'Song Myung', serif;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 15px 0 10px
}
.headers {
    background: #5E574D;
    padding: 12px 20px 12px 25px;
    color: white;
}

.columns {
    background: #FFF;
    text-align: center;
}
