.table-grid{
    min-height: 237px;
    max-height: 237px;
    min-width: 45%;
    max-width: 50%;
    font-family: 'Song Myung', serif;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    border-style: double; 
    border-radius: 4px;
    top: 128px;
    left: 570px;
    right: 0;
    margin: 0 auto;
}
.headers {
    background: #5E574D;
    padding: 12px 20px 12px 25px;
    color: white;
}

.columns {
    background: #FFF;
    text-align: center;  
}